.card{
    display: flex ;
    justify-content: space-around;
    border: 2px dotted blueviolet;
    padding: 20px;
    width: 400px;
    margin:0 auto;
    
    text-align: center;
    border-bottom: 9px solid blueviolet;
    background-color: #ddebf8;
    color: #2b2839;;
    
    
}
.bk{
    width: 150px;
    
}

    
    

body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.borderblue{
    
    
}